<div class="sidebar">
  <ul class="sidebar-menu">
    <li><a href="/blogpost"><i class="fa-solid fa-house" id="icon"></i>Home</a></li>
    <li><a href="/blogpost/new"><i class="fa-solid fa-square-plus" id="icon"></i>Create Blog Post</a></li>
  </ul>
</div>