<% layout("layouts/boilerplate.ejs") -%>


  <div class="failure_bg">
    <h2 class="failure_text">Your are failed to register, because user already exist</h2>
    <div class="sad_face">&#128577;</div>
  </div>