<% layout("layouts/boilerplate.ejs") -%>

  <div style="padding: 20%;text-align:center;">
    <h2 style="font-weight: 600;">Congratulation you the sucessfully registered!</h2>
    <p style="line-height: 1.2;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa laborum at suscipit,
      eius nemo corrupti quasi
      ipsa
      explicabo aperiam repellat doloremque incidunt aliquid rem eaque consectetur dolorem inventore quod blanditiis!
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi culpa aut quisquam assumenda non, blanditiis animi
      quo quaerat ut eius, facere quibusdam esse repudiandae doloremque. Soluta vitae rem quos consequatur.
    </p>
  </div>